.navbar {
    display: flex;
    justify-content: center;
}
.navbar-container {
    width: 70%;
    justify-content: space-between;
    display: flex;
    position: relative;

}
.navbar-container img {
    width: 80px;
    height: 80px;
}

.border {
    border-bottom: 2px solid #863C95;
}
.display {
    display: none;
}
.display-desktop {
    display: flex;
    margin-top: 25px;
}
.display-desktop a {
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
}
.FaBars {
    color: #863C95;
    display: none;
    font-size: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 540px) {
    .navbar-container {
        background-color: rgb(255, 255, 255, .8);
        position: fixed;
        z-index: 2;
        width: 100vw;
    }
    .navbar-container img {
        margin-left: 10%;
    }
    .links-mobile {
        display: block;

    }
    .display {
        display: block;
        margin-top: 80px;
        position: absolute;
        right: 0;
        z-index: 2;
        width: fit-content;
        background-color: rgb(255, 255, 255, .8);
        width: 100vw;
    } 
    .display a {
        cursor: pointer;
        text-align: center;
        width: 20vw;
        margin-left: 75vw;
        text-decoration: none;
    }

    .FaBars {
        display: block; 
        cursor: pointer;
        margin-right: 10%;
    }

    .display-desktop {
        display: none;
    }
}